################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1/x64/Debug
/Task1/Task1/x64/Debug
/.vs
/x64/Debug
